<div ng-include="'views/header.html'"></div>
<div class="p row center-xs middle-xs around-xs">
    <div class="col-xs-11 col-lg-7 col-md-7 ph+ pv row center-xs middle-xs">
        <div class="col-xs-12 card m">
            <div class="row p++">
                <div class="col-xs-12">
                    <lx-text-field lx-label="Url imagen">
                        <input type="text" ng-model="vm.input.imagen">
                    </lx-text-field>
                </div>
                <div class="col-xs-12">
                    <lx-text-field lx-label="Nombre">
                        <input type="text" ng-model="vm.input.nombre">
                    </lx-text-field>
                </div>
                <div class="col-xs-12">
                    <lx-text-field lx-label="Precio">
                        <input type="number" ng-model="vm.input.precio">
                    </lx-text-field>
                </div>
                <div class="col-xs-12 mt++">
                    <lx-button lx-color="primary" lx-type="raised" ng-click="vm.add()">Añadir Producto</lx-button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-11 col-lg-5 col-md-5 card pb+">
        <div class="toolbar has-divider has-divider--dark">
            <div class="toolbar__label pl">
                <span>{{ vm.selectedRows[0].nombre}}</span>
            </div>
            <div class="toolbar__right">
                <lx-button lx-size="l" ng-click="vm.edit()" lx-color="grey" lx-type="icon" ng-if="vm.selectedRows.length === 1">
                    <i class="mdi mdi-pencil"></i>
                </lx-button>
            </div>
        </div>
        <lx-data-table class="mb+" lx-selectable="true" id="productos" lx-border="false" lx-thumbnail="true" lx-thead="vm.dataTableThead"
            lx-tbody="vm.dataTableTbody"></lx-data-table>
    </div>
</div>